body {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-areas:"header     header"
                        "intro      nepal"
                        "articles   climate"
                        "footer     footer";
    grid-column-gap: 25px;
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: climate;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}


/* Grid Styles for Nested Grid */
section {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
}

section > h1 {
    grid-area: 1/2/2/3;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}